<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alteração de Notícia</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <form action="#"
              method="post"
              th:action="@{/noticia/update/{id}(id=${noticia.id})"
              th:object="${noticia}">
            <label for="titulo">Título</label>
            <input 
                type="text" 
                id="titulo" 
                placeholder="Título da notícia"
                th:field="*{titulo}" />
            <span 
                th:if="${#fields.hasErrors('titulo')}"
                th:erros="*{titulo}"></span>
            <br/>
            <label for="urlImagem">URL da Imagem</label>
            <input 
                type="text" 
                id="urlImagem" 
                placeholder="Endereço da Imagem (URL)"
                th:field="*{urlImagem}" />
            <br/>
            <label for="descricao">Descrição da matéria</label>
            <textarea id="descricao"
                      rows="5"
                      cols="30"
                      th:field="*{descricao}"></textarea>
            <span 
                th:if="${#fields.hasErrors('descricao')}"
                th:erros="*{descricao}"></span>
            <br/>
            <input type="submit" value="Atualizar Notícia" />
        </form>
    </body>
</html>
